@media (min-width: 800px) {

:root {
    --white: #ffffff;
    --gray-light: #f5fbfc;
    --gray-dark: #08090a;
    --green: #35b8be;
    --green-dark: #1b9097;
    --green-light: #f5fbfc;
    --blue-dark: #546285;
}


/*bandeau top*/

#bandeau_nav {
    display: block;
    background-color: var(--green);
    color: var(--white);
    padding: 1px;
    text-align: center;
    background: var(--green) no-repeat url('../images/banner_wave.svg'); 
    
    
    }

    .container {
    width: 60%;
    margin: auto;
    
    }


    /*nav*/


    #burger {

        display: none;
    }


    #logo {

        width: 50px;
        height: auto;
    }


   

     nav ul {
        display: inline-block;
        display: flex;
        gap: 50px;
        list-style: none;
        margin-top: 50px;
        margin-left: 450px;
        
    }

   
    nav a {

        text-decoration: none;
        color: var(--gray-dark);
        text-align: center;
        
    }


    /*contenu*/

    .container2 {
       margin: auto;
        width: 60%;

    }

    .container2 img {
        margin-bottom: 0; 
        width: 50%;
        height: auto; 
      }

   

    section {
        gap: 50px;
        margin-top: 300px;
        margin-bottom: 300px;
        flex-direction: row;
        height: 800px;
    }


    h1 {
        font-size: 4em;
       text-align: left;
       white-space: none;
               
        }


    section p {
        
        text-align: left;
        padding: 0;
     
  }


  section div {
      width: 80%;
  }



  .btn{
margin: 0;
  }


  section img {

    width: 100%;
    height: auto;
    margin: 0;
}




#section2 {
 
  padding: 0;
 width: auto;
 
}


#section2 h2 {

   
    text-align: left;
    
 }





#section3 {

    display: flex;
    margin-top: 100px;
}




#section3 p {

    text-align: center;
    white-space: none;
}




    #section3 img {

        width: 100%;
        height: auto;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 100px;
        
       
    }

    #section3 div:nth-child(1) {

        margin-bottom: 115px;
    }

  


    #section3 h2 {
        transform: translateX(360px);
        margin-top: 10px;
           
    }


    #section3 div {

        width: 50%;
        
    }


     



 /*Footer*/


 footer {
    display: flex;
    height: 80px;
    gap: 400px;
    justify-content: center;
 }



 footer p {
  transform: translateY(15px);
    
}











}
