

:root {
    --white: #ffffff;
    --gray-light: #f5fbfc;
    --gray-dark: #08090a;
    --green: #35b8be;
    --green-dark: #1b9097;
    --green-light: #f5fbfc;
    --blue-dark: #546285;
}


body {

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
}

/*nav*/

#bandeau_nav {
display: none;
}


nav {

    display: flex;
    
    
}


nav ul {
    display: none;
}


#logo {

    width: 8%;
}

#logo_and_burger {
    margin-top: 15px;
    margin-left: 45px;
    
}

#burger {

    margin-left: 230px;
    background-color: var(--green-light);
    padding: 10px;
    border-radius: 10px;
}


/*contenu*/

.container2 img {
  margin-bottom: 40px;  
}

.container {

    width: auto;
    
}


h1 {
font-size: 3em;
font-weight: 700;
text-align: center;
letter-spacing: -0.04em;
white-space: pre-wrap;
line-height: 1em;

}

#blue_word {

    color: var(--green);
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    }

    section p {
        font-size: 17px;
        text-align: center;
        color: var(--blue-dark);
        font-weight: 400;
        padding: 0 20px;
        line-height: 1.3em;
        margin-bottom : 50px;
    }

    .btn{

      text-decoration: none;
      color: var(--white);
      font-weight: 300;
      border-radius: 10px;
      padding: 15px 25px;
      background: var(--green) no-repeat url('../images/button_wave.svg'); 
      margin: 100px;
     
    }

    section img {

        width: 76%;
        height: auto;
        margin-top: 100px;
    }

    #section2 {

        background-color: var(--green-light);
       
        
    }


    #section2 h2 {

        font-size: 3em;
        text-align: center;
        color: var(--green);
     
    }


    
    #section3 h2 {

        font-size: 3em;
        text-align: center;
        color: var(--green);
     
    }


    #section3 img {

   transform: translateX(30px);
    }

    #bold {
        font-weight: bold;
        line-height: 3em;
        color: var(--gray-dark);
    }

    #section3 p {

        white-space: pre-wrap;
    }



    /*Footer*/


    footer {
    background-color: var(--green-light);
    height: 90px;
    
}


footer p {
    color: var(--green-dark);
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    transform: translateY(20px);
    
}

footer ul {

    transform: translateY(15px);
}


footer li {
    display: inline-block;
    text-align: left;
    padding-right: 30px;
}

footer a {
    text-decoration: none;
    list-style: none;
    color: var(--blue-dark);
    font-weight: bold;
    margin-left: -10px;
    
}















